header {
    background-color: hsla(0, 3%, 7%, 1);

    display: flex;
    justify-content: center;
 
    position: fixed;
    height: 80px;
    top: 0;
    right: 0;
    left: 0;

    z-index: 6;
}

.logo {
    display: flex;
}